<!------ Include the above in your HEAD tag ---------->

<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
    <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Shipping cart
            <a href="/products/" class="btn btn-outline-info btn-sm pull-right">Continue shopping</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <!-- PRODUCT -->
            {{#each products}}
            <form action="/cart/update/{{_id}}" method="post" role="form" style="display: block;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-2 text-center">
                    <a href="/products/detail/{{_id}}"><img class="img-responsive" src="{{imgSrc}}" alt="prewiew" width="120" height="180"></a>
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                    <a href="/products/detail/{{_id}}"><h4 class="product-name"><strong>{{nameProduct}}</strong></h4></a>
                    <h4>
                        <small>{{productDescription}}</small>
                    </h4>
                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                        <h6><strong>{{price}} <span class="text-muted">x</span></strong></h6>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="quantity">
                            <input type="button" value="+" class="plus">
                            <input name="number" type="number" step="1" max="10000" min="1" value="{{number}}" title="Qty" class="qty"
                                   size="4">
                            <input type="button" value="-" class="minus">
                        </div>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 text-right">
                        <a href="/cart/delete/{{_id}}" class="btn btn-outline-danger btn-xs">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>

                    </div>
                    <div class="pull-left">
                        <input type="submit" name="update-submit" class="btn btn-outline-secondary pull-right" value="Update shopping cart">
                    </div>
                </div>
            </div>
            <hr>
            </form>
            {{/each}}
            <!-- END PRODUCT -->
        </div>
        <div class="card-footer">
            <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Coupon code">
                    </div>
                    <div class="col-6">
                        <input type="submit" class="btn btn-default" value="Use coupon">
                    </div>
                </div>
            </div>
            <div class="pull-right" style="margin: 10px">
                <a href="" class="btn btn-success pull-right">Checkout</a>
                <div class="pull-right" style="margin: 5px">
                    Total price: <b>{{totalPrice}}đ</b>
                </div>
            </div>
        </div>
    </div>
</div>