<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <img src="images/ms_banner_img1_vi.jpg" class="banner" />
    </header>

    <!-- Page Features -->
    <span><h4>NEW PRODUCTS</h4></span>
    <div class="row text-center">
        <ul id="newProductModel" style="display: flex; flex-wrap: wrap">
        {{#each newProducts}}
            <div class="col-lg-3 col-md-6 mb-4">
            <li>
                <div class="card h-100">
                    <img class="card-img-top" src={{img}} alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{nameProduct}}</h4>
                        <p class="card-text">{{price}}đ</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </li>
            </div>
        {{/each}}
        </ul>
    </div>

    <span><h4>BEST SELLERS</h4></span>
    <div class="row text-center">
        <ul id="newProductModel" style="display: flex; flex-wrap: wrap">
            {{#each bestSellers}}
                <div class="col-lg-3 col-md-6 mb-4">
                    <li>
                        <div class="card h-100">
                            <img class="card-img-top" src={{img}} alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{nameProduct}}</h4>
                                <p class="card-text">{{price}}đ</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div>
                        </div>
                    </li>
                </div>
            {{/each}}
        </ul>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->